body
{
background-color: #353535;
}
.div
{
    height: 40px;
}
.button:hover{
    height: 12%;
}
.image1
{
width: 320px;
height: 110px;
}
.image2
{
width: 640px;
height: 80px;
}
.spacingb
{
    height: 60px;
}
h1
{
font-size: 70px;
font: "Lato",sans-serif;
color:#ddd;
font-feature-settings: "kern" 1;
font-kerning: normal;
display: inline-block;
}

.button1 {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.button1:hover {
    background-color: RoyalBlue;
}

.div1 {
    border-radius: 5px;
    background-color: rgb(252, 91, 59);
    padding: 20px;
}

.div2 {
    border-radius: 4px;
    background-color: rgb(252, 91, 59);
    padding: 30px;
    width: 30%;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: rgb(150, 20, 20);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(212, 32, 32);
  }
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
